# 忽略 Visual Studio 缓存和大文件目录
.vs/
bin/
obj/
*.ipch
*.pch
*.log
*.tmp
*.suo
*.user
*.sdf
*.opensdf

# 忽略编译生成的大文件
src/Game/x64/
src/Game/bin/
src/Game/obj/
# 忽略C/C++编译产物
*.exe
*.pdb
*.obj
*.o
*.dll
# 忽略VS编译目录
x64/
Debug/
Release/
# 忽略临时文件
*.tmp
*.bak